{% load staticfiles %}
{% load filter %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{team.name}}队</title>
    <link rel="stylesheet" href={% static "css/semantic.css" %} media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="ui inverted menu">
      <a href={% url 'index' %} class="item">Home</a>
      <a href={% url 'search' %} class="item">Search</a>
    </div>
    <div class="" align="center">
      <h1 class="ui header">{{team.name}}队</h1>
    </div>
    <div class="ui vertical segment">
      <div class="ui grid">
        <div class="ten wide column">
          <div class="ui horizontal divider">
            相关新闻（共{{idsnum}}条）
          </div>
            {% for article in current_list %}
            <div class="ui container segment">
              <h2 class="ui header">
                <a href="{% url 'news' article.id%}">{{article.title}}</a>
              </h2>
              <p>
                {{ article.content|truncatehanzi:"150" }}
              </p>
            </div>
          {% endfor %}
          <div class="ui pagination menu">
            {% if current_list.has_previous %}
            <a href="{% url 'team' nid current_list.previous_page_number %}" class="icon item">
              <i class="left arrow icon"></i>
            </a>
            {% else %}
            <a class="disabled icon item">
              <i class="left arrow icon"></i>
            </a>
            {% endif %}
            {% for i in pageRange %}
              {% if current_num == i %}
              <a href="{% url 'team' nid i %}" class="active item">
                {{i}}
              </a>
              {% else %}
              <a href="{% url 'team' nid i %}" class="item">
                {{i}}
              </a>
              {% endif %}
            {% endfor %}
            {% if current_list.has_next %}
            <a href="{% url 'team' nid current_list.next_page_number %}" class="icon item">
              <i class="right arrow icon"></i>
            </a>
            {% else %}
            <a class="disabled icon item">
              <i class="right arrow icon"></i>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="two wide column">

        </div>
        <div class="four wide column">
          <table class="ui table">
            <tr>
              <td>
                <strong>球队基本信息</strong>
              </td>
            </tr>
            <tr>
              <td>
                所在城市
              </td>
              <td>
                {{team.city}}
              </td>
            </tr>
            <tr>
              <td>
                球员
              </td>
              <td>
                  {% for player in players %}
                {{player}}</br>
                  {% endfor %}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </body>
</html>
